<section>
    <mdb-carousel class="carousel  carousel-fade" [animation]="'fade'" style="height: 350px;">
        <mdb-carousel-item>
            <img class="d-block w-100" src="./assets/img/principal_convocatorias.svg" alt="First slide">
        </mdb-carousel-item>
    </mdb-carousel>
</section>

<div class="container">
    <p class="text-center mt-5">LA SECRETARÍA DE EDUCACIÓN PÚBLICA A TRAVÉS DE LA DIRECCIÓN GENERAL DE MATERIALES EDUCATIVOS DE LA SUBSECRETARÍA DE EDUCACIÓN BÁSICA TE INVITA A PARTICIPAR EN LAS CONVOCATORIAS QUE TENEMOS PARA TI</p>
    <section class="my-5">

        <hr class="my-5">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-6">

                <!-- Featured image -->
                <div class="view overlay rounded  mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                    <img class="img-fluid" src="./assets/img/banner-convocatoria-ilustradores.png" alt="Sample image">
                    <a href="./assets/docs/Convocatoria_Ilustradores_2022.pdf" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-6">
                <!-- Post title -->

                <!-- Read more button -->
                <a mdbBtn color="success" mdbWavesEffect href="./assets/docs/Convocatoria_Ilustradores_2022.pdf" target="_blank" style="margin-top: 15%;">ver más</a>
                <p style="color:red;" class="text-justify"><strong>Aviso importante:</strong> el registro de las y los interesados en participar en la Convocatoria a Creadores visuales para el diseño de la Nueva familia de Libros de Texto Gratuitos de 1º a 6º de primaria y 1º de telesecundaria, será a partir del día jueves 27 de octubre de 2022.</p>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->


        <hr class="my-5">

        <!-- Grid row -->
        <div class="row">
             <!-- Grid column -->
             <div class="col-lg-6 ">

                <a mdbBtn color="pink" mdbWavesEffect href="./assets/docs/Convocatoria_innovacion_2022.pdf" class="mb-lg-0 mb-4" target="_blank" style="float: right;margin-top: 25%;">ver más</a>
                <!-- Read more button -->


            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-6">

                <!-- Featured image -->
                <div class="view overlay rounded  waves-light" mdbWavesEffect>
                    <img class="img-fluid" src="./assets/img/ampliacion.png" alt="Sample image">
                    <a href="./assets/docs/Convocatoria_innovacion_2022.pdf" target="_blank">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <!-- Grid column -->

           

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Blog v.1 -->

</div>