<section>
    <mdb-carousel class="carousel  carousel-fade" [animation]="'fade'" style="height: 350px;">
        <mdb-carousel-item>
            <img class="d-block w-100" src="../../assets/img/principal.png" alt="First slide">
        </mdb-carousel-item>
    </mdb-carousel>
</section>

<div class="container">
    <p class="text-justify mt-5">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi
        concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
    <section class="my-5">
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-5">

                <!-- Featured image -->
                <div class="view overlay rounded  mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                    <img class="img-fluid" src="../../assets/img/01_innovacion.png" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-7">
                <!-- Post title -->
                <h3 class="font-weight-bold mb-3"><strong>Title of the news</strong></h3>
                <!-- Excerpt -->
                <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus et aut officiis debitis.</p>
                <!-- Post data -->
                <p>by <a><strong>Carine Fox</strong></a>, 19/08/2018</p>
                <!-- Read more button -->
                <a mdbBtn color="success" mdbWavesEffect routerLink="/convocatoriauno">Read more</a>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <hr class="my-5">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-7">
                <!-- Post title -->
                <h3 class="font-weight-bold mb-3"><strong>Title of the news</strong></h3>
                <!-- Excerpt -->
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                </p>
                <!-- Post data -->
                <p>by <a><strong>Carine Fox</strong></a>, 14/08/2018</p>
                <!-- Read more button -->
                <a mdbBtn color="pink" mdbWavesEffect routerLink="/convocatoriados" class="mb-lg-0 mb-4">Read more</a>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-5">

                <!-- Featured image -->
                <div class="view overlay rounded  waves-light" mdbWavesEffect>
                    <img class="img-fluid" src="../../assets/img/02_evaluacion.png" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Blog v.1 -->

</div>