<section>
    <mdb-carousel class="carousel  carousel-fade" [animation]="'fade'" style="height: 350px;">
        <mdb-carousel-item>
            <img class="d-block w-100" src="./assets/img/principal_convocatorias.svg" alt="First slide">
        </mdb-carousel-item>
    </mdb-carousel>
</section>

<div class="container">
    <p class="text-center mt-5">LA SECRETARÍA DE EDUCACIÓN PÚBLICA A TRAVÉS DE LA DIRECCIÓN GENERAL DE MATERIALES EDUCATIVOS DE LA SUBSECRETARÍA DE EDUCACIÓN BÁSICA TE INVITA A PARTICIPAR EN LAS CONVOCATORIAS QUE TENEMOS PARA TI</p>
    <section class="my-5">
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-6">

                <!-- Featured image -->
                <div class="view overlay rounded  mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                    <img class="img-fluid" src="./assets/img/criterios.png" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-6 d-flex align-items-center">
                <!-- Post title -->

                <!-- Read more button -->
                <a mdbBtn color="success" mdbWavesEffect href="./assets/docs/DOCH_CRITERIOS_GENERALES.pdf" target="_blank">ver más</a>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <hr class="my-5">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-lg-6 ">

                <a mdbBtn color="pink" mdbWavesEffect href="./assets/docs/Convocatoria_innovacion_2022.pdf" class="mb-lg-0 mb-4" target="_blank" style="float: right; margin-top: 25%;">ver más</a>
                <!-- Read more button -->


            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-6">

                <!-- Featured image -->
                <div class="view overlay rounded  waves-light" mdbWavesEffect>
                    <img class="img-fluid" src="./assets/img/ampliacion.png" alt="Sample image">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </section>
    <!-- Section: Blog v.1 -->

</div>